{% extends "core/layout.html" %}
{% load humanize %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}

  <!-- Header -->
  {% include "courses/components/dashboard_header.html" %}

  <div class="grid grid-cols-12 gap-6">

    <!-- LEFT -->
    <div class="col-span-4 space-y-6">
      {% include "courses/components/profile_card.html" %}
      {% include "courses/components/upcoming_deadlines.html" %}
    </div>

    <!-- RIGHT -->
    <div class="col-span-8">
      {% include "courses/components/courses_tabs.html" %}
      {% include "courses/components/status_updates.html" %}
    </div>

  </div>

  <!-- MODALS / DRAWERS -->
  {% include "courses/components/profile_edit_modal.html" %}
  {% include "courses/components/feedback_modal.html" %}
  {% include "courses/components/search_drawer.html" %}

{% endblock %}

{% block extra_js %}
  {% include "courses/components/js_profile_edit.html" %}
  {% include "courses/components/js_feedback.html" %}
  {% include "courses/components/js_search.html" %}
{% endblock %}
