{% extends "core/layout.html" %}
{% load static %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}
<div class="bg-gray-50 min-h-screen p-6">

  {% include "courses/components/header.html" %}

  <div class="grid grid-cols-12 gap-6">

    <!-- LEFT: identity + priorities -->
    <div class="col-span-4 space-y-6">
      {% include "courses/components/profile_card.html" %}
      {% include "courses/components/upcoming_deadlines.html" %}
    </div>

    <!-- RIGHT: teaching overview -->
    <div class="col-span-8 space-y-6">

      {% include "courses/components/teacher_overview_strip.html" %}
      {% include "courses/components/teacher_courses_professor.html" %}

    </div>
  </div>
</div>

{% include "chat/chat_modal.html" %}
{% include "courses/modals/search_modal.html" %}
{% include "courses/modals/profile_edit_modal.html" %}
{% include "courses/modals/create_course_modal.html" %}
{% endblock %}

{% block extra_js %}
  {% if request.user.is_authenticated %}
  <script>const CURRENT_USER_ID = {{ request.user.id }};</script>
  {% endif %}
  <script src="{% static 'chat/js/chat.js' %}"></script>
  <script src="{% static 'courses/js/search.js' %}"></script>
  <script src="{% static 'courses/js/profile_edit.js' %}"></script>
{% endblock %}
