{% extends "core/layout.html" %}
{% block title %}Chat{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto bg-white rounded shadow flex flex-col h-[70vh]">

  <div id="chat-log" class="flex-1 p-4 space-y-2 overflow-y-auto">
  </div>

  <div class="border-t p-3 flex">
    <input id="chat-message-input"
           class="flex-1 border p-2 rounded"
           placeholder="Type a message...">

    <button id="chat-message-submit"
            class="ml-2 bg-blue-600 text-white px-4 rounded">
      Send
    </button>
  </div>
</div>
{% endblock %}
